// color
$colors: (
	'primary': #db9e3f,
	'info': #4b67af,
	'white': #fff,
	'light-1': #f9f9f9,
	'light': #d4d9de,
	'grey-1': #999,
	'grey': #666,
	'dark-1': #333,
	'dark': #222,
	'black': #000
);

$border-color: map-get(
	$map: $colors,
	$key: 'light'
);

// font-size
$base-font-size: 1rem;
$font-size: (
	// 8px
		xxs: 0.6154,
	// 10px
		xs: 0.7692,
	// 12px
		sm: 0.9231,
	// 13px
		md: 1,
	// 14px
		lg: 1.0769,
	// 16px
		xl: 1.2308
);
